.headerBar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    /* filter: invert(1); */
    font-weight: 400;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0) ;
    color: rgb(255, 255, 255) ;
    z-index: 20;
}

.headerBarAttached {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
    /* filter: none; */
    font-weight: 400;
    transition: 0.2s;
    background-color: rgb(255, 255, 255) ;
}

.logoBar {
    position: relative;
    padding: 1rem 2rem 0rem 2rem;
    z-index: 20;
}

.logoContainer {
    padding: 1rem 0rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
    z-index: 20;
}

.logoBorderIn {
    border-bottom: 1px solid black;
    width: 100%;
    transition: 0.2s;
    margin-left: auto;
}

.logoBorderOut {
    border-bottom: 1px solid black;
    width: 0%;
    transition: 0.2s;
    margin-left: auto;
}

.logo {
    display: flex;
    justify-content: start;
    flex-direction: row;
    align-items: center;
}

.preLogoInnerIn {
    overflow: hidden;
    display:inline-block;
    width: 2.9rem;
    transition: 0.2s;
    color: white;
}

.preLogoInnerOut {
    overflow: hidden;
    display:inline-block;
    width: 0rem;
    transition: 0.2s;
    color: white;
}

.postLogoInnerIn {
    overflow: hidden;
    display:inline-block;
    width: 11rem;
    transition: 0.2s;
    color: white;
}

.postLogoInnerOut {
    overflow: hidden;
    display:inline-block;
    width: 0rem;
    transition: 0.2s;
    color: white;
}

.logoInner {
    display: inline-block;
}

.sortButtonIn {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    width: 4.3rem;
    transition: 0.2s;
}

.sortButtonOut {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    width: 0rem;
    transition: 0.2s;
}

.sortMenuUp {
    position: relative;
    top: 0rem;
    height: 0rem;
    overflow: hidden;
    padding: 0rem 2rem;
    line-height: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 0;
    transition: 0.2s;
}

.sortMenuDown {
    position: relative;
    top: 0rem;
    height: 8rem;
    overflow: hidden;
    padding: 0.6rem 2rem 0.3rem 2rem;
    line-height: 2rem;
    text-align: right;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    z-index: 0;
    transition: 0.2s;
}

.filterBar {
    padding: 0rem 2rem 0rem 2rem;
    /* position: relative; */
}

.filterContainer {
    position: relative;
    padding: 1.2rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 20;
}