.stickyWrapper {
    position: relative;
    top: 0;
    height: 3.4rem;
    z-index: 5;
  }
  
  .stickyInner {
    z-index: 5;
  }

  .sticky .stickyInner {
    position: fixed;
    top: 3.9rem;
    left: 0;
    right: 0;
    background-color: white;
    transition: 0.2s;
  }

  .stickyDown .stickyInner {
    position: fixed;
    top: 12.8rem;
    left: 0;
    right: 0;
    background-color: white;
    transition: 0.2s;
  }

  .slideContainer {
    position: relative;
    height: 500px;
    z-index: 10;
  }

  .slide {
    object-fit: cover;
    max-width: 100%;
    z-index: 10;
    height: 500px;
    /* z-index: 20;
    position: relative; */
    /* opacity: 100%; */
    transition: 0.2s;
  }

  .slideOff {
    object-fit: cover;
    max-width: 100%;
    z-index: 10;
    height: 500px;
    transition: 0.2s;
    /* opacity: 0%; */
  }

  .slideLogo {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    filter: invert(1);
  }

  .snapContainer {
    /* height: 2px; */
    /* z-index: 30;
    background-color: red; */
    /* position:relative;
    top: -3.4rem; */
    /* overscroll-behavior: contain; */
    scroll-snap-type: y proximity;
    /* scroll-padding-top: 15vh; */
    overflow-y: scroll;
    /* height: 100vh; */
  }

  .snapGuide {
    height: 2px;
    scroll-snap-align: start;
    position: relative;
    top: -3.4rem;
    z-index: 40;
    background-color: yellow;
  }